<%- include('utils/header') %>
<div class="p-8 px-32 h-screen-90 overflow-y-auto">
  <h1 class="text-3xl mt-8 mb-1">My name is Aidan</h1>
  <p class="text-lg">I'm a systems administrator and open source developer.</p>
</div>
<%- include('utils/footer') %>