<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <meta name="title" content="<%= title %>">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= tags.join(", ") %>">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Xanh+Mono:ital@0;1&display=swap');
  </style>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="text-slate-900 bg-gray-100 flex flex-col min-h-screen">
<header class="fixed top-0 left-0 right-0 z-50">
  <div class="flex max-w-screen bg-blue-600 justify-center items-center">
    <div class="w-screen p-4 px-8 text-gray-200">
      <div class="flex justify-center items-center">
        <ul class="flex space-x-6">
          <li class="flex items-center">
            <span class="font-bold text-lg">home</span>
          </li>
          <li class="flex items-center">
            <span class="font-bold text-lg">open source</span>
          </li>
          <li class="flex items-center">
            <span class="font-bold text-lg">personal</span>
          </li>
          <li class="flex items-center">
            <span class="font-bold text-lg">music</span>
          </li>
          <li class="flex items-center">
            <span class="font-bold text-lg">contact</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="flex-1 mt-16">